<div class="col-sm-2">
{% include Aboutme.html %}
{% include Donate.html %}
{% include Google_Search.html %}
{% include Categories.html %}
{% include Archives.html %}
{% include Tags.html %}
</div>

<!-- Earn cryptocurrency with EthereumAds -->
<div style="overflow: hidden; width:728px; height:90px; position:relative; margin:auto;">
    <a href="https://ethereumads.com" target="_new">Earn cryptocurrency with banner ads</a>
    <a href="https://ethereumads.com/link?address=0x169214847Be8a0BD179C20A1e86E1889217758EF&slot=0&width=728&height=90">
       <img alt="Earn cryptocurrency with EthereumAds" src="https://ethereumads.com/media?address=0x169214847Be8a0BD179C20A1e86E1889217758EF&slot=0&width=728&height=90" style="position:absolute; top:0;left:0;margin:0">
    </a>
 </div>